lxml==5.2.1
nextstrain-augur==24.2.2
numpy==1.26.4
pandas
pip==24.0
python-dateutil==2.8.2
PyYAML==6.0.1
SciPy==1.11.4
streamlit==1.40.1
scikit-learn==1.3.2
SQLAlchemy==2.0.32

openpyxl
matplotlib
miniFasta==3.0.3
pygwalker
streamlit_option_menu